[Unit]
Description=Seisma test analytic system
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/default/seisma
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/make up -C $INSTALLATION_PATH
ExecStop=/usr/bin/make stop -C $INSTALLATION_PATH
ExecReload=/usr/bin/make restart -C $INSTALLATION_PATH

[Install]
WantedBy=multi-user.target